<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tagDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- ngfor to create ion-input from the data const -->
  <ion-list>
    <ion-item *ngFor="let entry of data | keyvalue">
      <ion-label position="floating">{{ entry.key }}</ion-label>
      <ion-input type="text" value="{{ entry.value }}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="goToSetup()">Show more</ion-button>
</ion-content>